<!DOCTYPE html>
<html>
  <head> </head>
  <body style="background-color: rgba(247, 247, 247, 0.932)">
    <div
      style="
        position: absolute;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 6px;
        width: 400px;
      "
    >
      <div
        style="
          position: absolute;
          justify-content: center;
          background-color: #ffffff;
          width: 600px;
          
        "
      >
        <div style="background-color: #ffffff; margin: 5%; width: 400px">
          <h1
            style="
              font-family: Arial;
              height: 22px;
              left: 0%;
              right: 44.12%;
              top: calc(50% - 22px / 2 - 21px);
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              color: #5e5873;
            "
          >
            Hola <b>{{name}} 👋</b>
          </h1>
          <h4
            style="
              font-family: Arial;
              height: 22px;
              left: 0%;
              right: 0.49%;
              top: calc(50% - 22px / 2 + 21px);
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              color: #5e5873;
            "
          >
            Gracias por inscribirte!
          </h4>
          <img
            src="./images/Illustration.svg"
            alt=""
            style="width: 400px;
            margin-left: 1%;"
          />
          <p
            style="
              height: 63px;
              width: 517px;
              left: 38px;
              top: 0px;
              border-radius: nullpx;
              top: calc(50% - 63px / 2 - 70.5px);
              font-family: Arial;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #6e6b7b;
            "
          >
          Verifique su dirección de correo electrónico haciendo click en el botón de abajo.
          </p>
          <p
            style="
              height: 42px;
              width: 517px;
              left: 38px;
              top: 73px;
              border-radius: nullpx;
              top: calc(50% - 63px / 2 - 70.5px);
              font-family: Arial;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #6e6b7b;
            "
          >
          Si no se ha suscrito a "Comisiones - Vates", ignore este correo electrónico.
          </p>
          <a style="display: block;
          margin-left: 165px;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 130px;
          padding: 8px 30px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
          border-radius: 5px;
          background-color: #7367F0;
          color: #FFFFFF;
          text-decoration: none;"
          href={{DNS_VERIFICATION}}{{token}}
            >Verificar Ahora →</a
          >
          <hr style="margin-top: 3em;" width="400", align="center" />
          
          <footer style="margin-top: 7em;">
            <img src="./images/Socail.svg" alt="footer redes sociales">
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
