<!-- : -->
<!DOCTYPE html>
<html>
  <head> </head>
  <body style="background-color: rgba(247, 247, 247, 0.932)">
    <div
      style="
        position: absolute;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 6px;
        width: 0px;
        height: 810px;
        flex-shrink: 0;
      "
    >
      <div
        style="
          position: absolute;
          justify-content: center;
          background-color: #ffffff;
          width: 580px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          
        "
      >
        <div style="background-color: #ffffff; margin: 5%; width: 450px">
          <h1
            style="
              font-family: Arial;
              height: 22px;
              left: 0%;
              right: 44.12%;
              top: calc(50% - 22px / 2 - 21px);
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 12px;
              color: var(--1-theme-color-body-text, #6E6B7B);
              font-feature-settings: 'clig' off, 'liga' off;
            "
          >
            Hola <b>{{name}} 👋</b>
          </h1>
          <h4
            style="
              font-family: Arial;
              height: 22px;
              left: 0%;
              right: 0.49%;
              top: calc(50% - 22px / 2 + 21px);
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              color: #6E6B7B;
            "
          >
            Gracias por inscribirte!
          </h4>
          <img
            src="./images/Illustration.svg"
            alt=""
            style="width: 520px;
            height: 200px;
            flex-shrink: 0;"
          />
          <section
          style=" width: 400px;
          height: 204px;">
          <p
            style="
              height: 35px;
              width: 517px;
              left: 38px;
              top: 0px;
              border-radius: nullpx;
              top: calc(50% - 63px / 2 - 70.5px);
              font-family: Arial;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: var(--1-theme-color-body-text, #6E6B7B);
              font-feature-settings: 'clig' off, 'liga' off;

              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px; "
          >
          Verifique su dirección de correo electrónico haciendo click en el botón de abajo.
          </p>

          <p
            style="
              height: 42px;
              width: 517px;
              left: 38px;
              top: 70px;
              border-radius: nullpx;
              top: calc(50% - 63px / 2 - 70.5px);
              font-family: Arial;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #6e6b7b;
            "
          >
          Si no se ha suscrito a "Comisiones - Vates", ignore este correo electrónico.
          </p>
          <a style="display: block;
          margin-left: 165px;
          margin-top: 25px;
          margin-bottom: 10px;
          width: 130px;
          padding: 12px 25px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
          border-radius: 5px;
          background-color: #3A6DB3;
          color: #FFFFFF;
          text-decoration: none;"

          href={{DNS_VERIFICATION}}{{token}}{?usr_email=}{{usr_email}}
          <!-- link = "http://localhost:3000/auth/verify_email/{token}?usr_email={{usr_email}}" -->
            >Verificar Ahora →</a
          >
        </section>
          
          <hr  width="500", align="center" color="#EBE9F1" />
          
          <footer style="margin-top: 7em;">
            <img src="./images/Socail.svg" alt="footer redes sociales">
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
